<div class="main">

</div>
<h1>
    Movie Reviews
</h1>

    <% @movies.each do |movie| %>
        <div class="list row">
            <div class="col-md-2">
                <% if movie['poster_path'] %>
                    <%= image_tag("#{@configuration.base_url}w154#{movie['poster_path']}") %>
                <% else %>
                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                <% end %>
            </div>
            
            <dl class="dl-horizontal col-md-9"> 
                <dt>Title:</dt>            
                <dd><%= movie['title'] %></dd>
        
                <dt>Release date:</dt>
                <dd>
                    <% if movie['release_date'].length != 0 %>
                        <%= movie['release_date'] %>
                    <% else %>
                        ---
                    <% end %>
                <dd>
            
                <dt>Rating:</dt>
                <dd><%= movie['vote_average'] %> (<%= movie['vote_count'] %> votes)<dd>
            </dl>
            
        <%= link_to 'Show', movie_path(movie['id']), :class=>"btn btn-primary btn-sm col-md-1" %> 
        
    </div>
<% end %>





