<div class="main">

</div>

<% @movies.first(10).each do |movie| %>
    <% if movie %>
     <%= link_to movie_path(movie['id']) do %>
       <%= movie['title'] %>
     <% end %>
  <% end %>
<% end %>


    <% @movies.each do |movie| %>
        <div class="list">
            <dl class="dl-horizontal"> 
                <dt>Title:</dt>            
                <dd><%= movie['title'] %></dd>
     
                <dt>Category:</dt>
                <dd>---<dd>
        
                <dt>Release date:</dt>
                <dd><%= movie['release_date'] %> <dd>
            
                <dt>Review:</dt>
                <dd><%= movie['overview'] %><dd>
            </dl>
            
        <%= link_to 'Show', movie, :class=>"btn btn-primary btn-sm" %> 
        
    </div>
<% end %>





