<div>
  <% if @movie['poster_path'] %>
      <%= image_tag("#{@configuration.base_url}w154#{@movie['poster_path']}") %>
  <% else %>
    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
  <% end %>
</div>

<p>
  <strong>Title:</strong>
  <%= @movie['title'] %>
</p>

<p>
  <strong>Category:</strong>
  <% if @movie['genres'] != nil && @movie['genres'].length != 0 %>
    <% @loop = 0 %>
    <% @movie['genres'].each do |genre| %>
      <% if @loop != 0 %>
        , 
      <%end%>
      <%= genre['name'] %>
      <% @loop += 1 %>
    <% end %>
  <% else %>
    ---
  <% end %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie['vote_average'] %> (<%= @movie['vote_count'] %> votes)
</p>

<p>
  <strong>Release date:</strong>
  <% if @movie['release_date'].length != 0 %>
    <%= @movie['release_date'] %>
  <% else %>
    ---
  <% end %>
</p>

<p>
  <strong>Time:</strong>
  <% if @movie['runtime'] != nil && @movie['runtime'] != 0 %>
    <%= @movie['runtime'] %>  min.
  <% else %>
    ---
  <% end %>
</p>

<p>
  <strong>Homepage:</strong>
  <% @homepage = @movie['homepage'] %>
  <% if @homepage != nil && @homepage.length != 0 %>
    <%= @homepage %>
  <% else %>
    ---
  <% end %>
</p>

<p>
  <strong>Language:</strong>
  <% if @movie['original_language'] != nil && @movie['original_language'].length != 0 %>
    <%= @movie['original_language'] %>
  <% else %>
    ---
  <% end %>
</p>

<p>
  <strong>Spoken languages:</strong>
  <% if @movie['spoken_languages'] != nil && @movie['spoken_languages'].length != 0 %>
    <% @loop = 0 %>
    <% @movie['spoken_languages'].each do |language| %>
      <% if @loop != 0 %>
        , 
      <%end%>
      <%= language['name'] %>
      <% @loop += 1 %>
    <% end %>
  <% else %>
    ---
  <% end %>
</p>

<p>
  <strong>Companies:</strong>
  <% if @movie['production_companies'] != nil && @movie['production_companies'].length != 0 %>
    <% @loop = 0 %>
    <% @movie['production_companies'].each do |company| %>
      <% if @loop != 0 %>
        , 
      <%end%>
      <%= company['name'] %>
      <% @loop += 1 %>
    <% end %>
  <% else %>
    ---
  <% end %>
</p>

<p>
  <strong>Review:</strong>
  <% if @movie['overview'] != nil && @movie['overview'].length != 0 %>
    <%= @movie['overview'] %>
  <% else %>
    ---
  <%end%>
</p>

<%= link_to '<< Back', movies_path, :class=>"btn btn-success btn-sm"%>
<% if logged_in? %>
  <%= link_to 'Add review',  new_review_path(:movie => @movie['id']), :class=>"btn btn-primary btn-sm" %>
<%end%>

<hr>

<button type="button" class="btn btn-primary btn-sm" id="showButton">
  Show trailers
</button>
<div id="trailers">
  <% if @trailers['youtube'] != nil %>
    <% @trailers['youtube'].each do |trailer| %>
    <br><br>
      <p>
        <strong><%= trailer['name'] %></strong>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= trailer['source'] %>"></iframe>
        </div>
      </p>
    <% end %>
  <% end %>
</div>

<hr>

 <div>
    <% if @reviews.any? %>
      <h2>Review (<%= @reviews.count %>)</h2>
 
        <% @reviews.each do |review| %>
     <ul id="reviews">
        <li>Title: <%= review.title %> </li>
            <li><%= review.created_at.strftime("%m/%d/%Y") %></li>
        <li><%= link_to 'Show', review, :class=>"btn btn-primary btn-sm" %> 
         <% if logged_in? && review.user.name == current_user.name %>
           <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-sm"%>
         <% end %> </li>
    </ul>
<% end %>
      <%= will_paginate @reviews %>
    <% end %>
    
  </div>

<script>
  var trailers = document.getElementById("trailers");
  var showButton = document.getElementById("showButton");
  
  trailers.style.display = "none";
  
  showButton.onclick = function(){
    if (trailers.style.display === "none"){
      trailers.style.display = "block";
      showButton.textContent = "Hide trailers";
    } else {
      trailers.style.display = "none";
      showButton.textContent = "Show trailers";
    }
  };
</script>