<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
   <div  class="alert alert-danger" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>    
      The form contains <%= pluralize(@review.errors.count, "error") %>.
    <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-4 ">
      <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "form-control",:rows=>10%>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => "form-control"%>
  </div>
   <%= f.hidden_field :movie_id, :value => @movie['id'] %>
   <%= f.hidden_field :user_id, :value => @user.id %>
     <div class="actions">
        <%= f.submit 'Submit', :class =>"btn btn-warning btn-sm"%>
<% end %>
  </div>
</div>